<!DOCTYPE html>
<h1>Student List!! </h1>
<html>
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<table id="customers">
  <tr>
    <th>Student Name</th>
    <th>Roll Number</th>
    <th>Mail Address</th>
    <th>Contact</th>
    <th>Dept.</th>
    <th>Entry Created</th>
    <th>Entry Updated</th>
  </tr>
  {% for d in data1 %}
  <tr>
    <td>{{d.name}}</td>
    <td>{{d.roll}}</td>
    <td>{{d.mail}}</td>
    <td>{{ d.contact }}</td>
    <td>{{ d.dept }}</td>
    <td>{{ d.created }}</td>
    <td>{{ d.updated }}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
